<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="well">

    {% include 'flash.html' %}

        <form class="form-group" action="{{ url_for('addnumber') }}" method=post>
            {{ form.hidden_tag() }}

            {{ form.firstname.label }}
            {{ form.firstname }}

            {{ form.lastname.label }}
            {{ form.lastname }}

            {{ form.phonenumber.label }}
            {{ form.phonenumber }}

            {{ form.submit }}
        </form>

</div>
{% endblock %}