<!DOCTYPE html>
{% extends "base.html" %}
{% block leftnavbar %}
<li id="brand"><a href="{{ url_for('index') }}">Petri</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('contact') }}">Contact</a></li>
{% endblock %}
{% block rightnavbar %}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li class="active"><a href="#">Add number</a></li>
{% endblock %}
{% block content %}
{% include 'flash.html' %}
<div class="well">

    <form class="form-horizontal" action="{{ url_for('addnumber') }}" method=post>
        <fieldset>
            {{ form.hidden_tag() }}
            <!-- Form Name -->
            <!--<legend>Form Name</legend>-->

            <!-- Text input-->
            <div class="form-group">

                <label class="col-md-4 control-label" for="firstname">First name</label>

                <div class="col-md-5">
                    <input id="firstname" name="firstname" type="text" placeholder="" class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lastname">Last name</label>

                <div class="col-md-5">
                    <input id="lastname" name="lastname" type="text" placeholder="" class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phonenumber">Phone number</label>

                <div class="col-md-5">
                    <input id="phonenumber" name="phonenumber" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>

                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">Add</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>
{% endblock %}
