<!DOCTYPE html>
{% extends "base.html" %}
{% block leftnavbar %}
<li id="brand"><a href="{{ url_for('index') }}">Petri</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li class="active"><a href="#">Contact</a></li>
{% endblock %}
{% block rightnavbar %}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('addnumber') }}">Add number</a></li>
{% endblock %}
{% block content %}
<div class="well">
<form action="{{ url_for('contact') }}" method=post>
    {#{ form.hidden_tag() }#}

    <div class="form-group">
        <label>First name</label>
        <input type="text" class="form-control" name="firstname" placeholder="John">
    </div>
    <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" name="lastname" placeholder="Doe">
    </div>

    <div class="form-group">
        <label>Email address</label>
        <input type="text" class="form-control" name="email" placeholder="john@aol.com">
    </div>

    <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" name="message" rows="3"></textarea>
    </div>

    <input class="btn btn-primary" type="submit" value="Send">
</form>
</div>
{% endblock %}