<!DOCTYPE html>
<!-- extend base layout -->
<!-- git test -->
{% extends "base.html" %}
{% block leftnavbar %}
<li id="brand"><a href="{{ url_for('index') }}">Petri</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('contact') }}">Contact</a></li>
{% endblock %}
{% block rightnavbar %}
<li class="active"><a href="#">Home</a></li>
<li><a href="{{ url_for('addnumber') }}">Add number</a></li>
{% endblock %}


{% block content %}
    <h1>Hi, {{ g.user.firstname }}!</h1>
    {% include 'flash.html' %}
    <div class="well">
        <h1>Dial 954-302-7647</h1>
        <br>
        <h4>Your phone numbers:</h4>
        <!-- append .items to phonenumber does weird things -->

        <p>



        <div style="width: 60%">
            <div id="msg" class="alert hide"></div>
            <table id="user" class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td width="20%">First name</td>
                    <td>Last Name</td>
                    <td>Phone Number</td>
                </tr>
                {% for number in phonenumbers %}
                <tr>
                    <td><a href="#" class="myeditable" id="required_firstname" data-type="text" data-name="firstname"
                           data-original-title="Enter First name">{{ number.firstname }}</a></td>
                    <td><a href="#" class="myeditable" id="required_lastname" data-type="text" data-name="lastname"
                           data-original-title="Enter Last name">{{ number.lastname }}</a></td>
                    <td><a href="#" class="myeditable" id="required_phonenumber" data-type="text"
                           data-name="phonenumber"
                           data-original-title="Enter Phone number">{{ number.number }}</a></td>
                    <!--<td>-->
                        <!--<div>-->
                            <!--<button id="save-btn" class="btn btn-primary">Save</button>-->
                        <!--</div>-->
                    <!--</td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>






        </p>

    </div>
{% endblock %}