<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="well">
    <h2>Don't be lost even without your phone</h2>
    <h3>Sign up to receive an audible phone number repository</h3>
    <h3>you can reach from any phone</h3>
    <form class="form-horizontal" action="{{ url_for('signup') }}">
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Sign up!">
            </div>
        </div>
    </form>
</div>
{% endblock %}