<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="well">
    <h2>Sign In</h2>
    {% include 'flash.html' %}

    <form class="form-group" action="{{ url_for('login') }}" method=post>
        {{ form.hidden_tag() }}

        {{ form.email.label }}
        {{ form.email }}

        {{ form.password.label }}
        {{ form.password }}

        {{ form.remember_me.label }}
        {{ form.remember_me }}

        {{ form.submit }}
    </form>

</div>
{% endblock %}
