<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="well">
    <form class="form-group" action="{{ url_for('signup') }}" method=post>

        {% include 'flash.html' %}

        <form action="{{ url_for('signup') }}" method=post>
            {{ form.hidden_tag() }}

            {{ form.firstname.label }}
            {{ form.firstname }}

            {{ form.lastname.label }}
            {{ form.lastname }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.phonenumber.label }}
            {{ form.phonenumber }}

            {{ form.keycode.label }}
            {{ form.keycode }}

            {{ form.password.label }}
            {{ form.password }}

            {{ form.submit }}
        </form>
    </form>
</div>
<p><a href="{{ url_for('home') }}">Back</a></p>
{% endblock %}
