.navbar-form.navbar-right:last-child {
    margin-right: 0px;
}

#brand {
    font-size: 18px;
    line-height: 20px
}

#center{
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.modal-header .close {
    margin-top: 0px;
}
