<!DOCTYPE html>
{% extends "base.html" %}
{% block leftnavbar %}
<li id="brand"><a href="{{ url_for('index') }}">Petri</a></li>
<li class="active"><a href="#">About</a></li>
<li><a href="{{ url_for('contact') }}">Contact</a></li>
{% endblock %}
{% block rightnavbar %}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('addnumber') }}">Add number</a></li>
{% endblock %}
{% block content %}
<p class="lead text-primary">Your phone makes your life easier</p>
<p>We know that and we thinks its great. But being so used to having your phone around all the time
    can sometimes get you in trouble.</p>
<p class="lead text-danger">What happens if your phone dies or, worse, gets stolen</p>
<p>How are you going to make that important phone call to your friends or loved ones without
    having the phone book in your phone?</p>
<p class="lead text-success">Most people don't have important phone numbers memorized</p>
There are lots of other things vying for our attention these days, and 99% of the time you <em>do</em> have your phone.
So that's okay too; you shouldn't need to memorize things that are readily available.</p>
<p class="lead text-primary">With Petri your phone book is now readily available</p>
<p>We give you a place to store all of your important numbers. You also get a local phone number, the only number you'll
    have memorize from now on, that you can dial and hear all of your contacts. Just dial the number and enter your own phone number
    so that we can find your records. Simple. Convenient. Free.
</p>
<p class="text-danger lead">And it's completely private</p>
        <p><strong>We don't sell</strong> your phone number or any of the phone numbers you store to anyone. And you're protected from others
        hearing your contacts by a custom key-code. </p>
{% endblock %}